*.log
wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/wp-cache-config.php
wordpress/wp-content/plugins/
wordpress/wp-content/themes/majowaTheme/img
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

.idea/copyright/
.idea/majowaGit.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
wordpress/wp-admin
wordpress/wp-includes
wordpress/wp-snapshots
