*.log
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/uploads/*
wordpress/wp-content/wp-cache-config.php
wordpress/wp-content/plugins/
wordpress/wp-content/index.php
wordpress/wp-content/themes/majowaTheme/img
wordpress/wp-content/themes/twentyfifteen
wordpress/wp-content/themes/twentyseventeen
wordpress/wp-content/themes/twentysixteen

wordpress/wp-content/themes/majowaTheme/classes/conn.php

/.idea
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

.idea/copyright/
.idea/majowaGit.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

/wordpress/wp-admin
/wordpress/wp-includes
/wordpress/wp-snapshots
/wordpress/license.txt
/wordpress/wp-cron.php
/wordpress/wp-trackback.php
/wordpress/index.php
/wordpress/readme.html
/wordpress/wp-links-opml.php
/wordpress/wp-blog-header.php
/wordpress/wp-config.php
/wordpress/wp-comments-post.php
/wordpress/xmlrpc.php
/wordpress/ddd.html
/wordpress/wp-load.php
/wordpress/wp-settings.php
/wordpress/wp-activate.php
/wordpress/wp-config-sample.php
/wordpress/wp-mail.php
/wordpress/wp-signup.php
/wordpress/wp-login.php
/wordpress/wp-content/themes/majowaTheme/img/
/wordpress/wp-content/themes/majowaTemplate-ver.2.0/img/
/majowaProd-18.06/
/wordpress.rar
/wordpress/wp-content/uploads/
