.border {
  border: 1px solid blue;
}
.clearfix {
  clear: both;
}
.h2-style {
  text-align: center;
  font-size: 40px;
  color: #33333a;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.h2-style.classes-type {
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
  margin-top: 50px;
}
.h2-style.classes-type:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background: #D22027;
  z-index: -2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.h2-style.classes-type:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 100%;
  background: #D22027;
  z-index: -1;
  background: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.h3-style {
  font-size: 22.4px;
  letter-spacing: 0.5px;
  color: #33333a;
  text-align: left;
}
.h1-special {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 40px;
  color: #33333a;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}
.h1-special:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background: #D22027;
  z-index: -2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.h1-special:after {
  content: "";
  position: absolute;
  width: 520px;
  height: 2px;
  background: #D22027;
  z-index: -1;
  background: url('../img/background.png') repeat;
  background-color: white;
  background-size: cover;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.whitebg {
  background: white;
}
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#toggleSingIn {
  cursor: pointer;
}
.facebook-btn {
  position: fixed;
  left: 0;
  z-index: 2;
  top: 30%;
  transform: translateY(-50%);
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
}
body {
  background: url('../img/background.png') repeat;
  outline: none !important;
}
.row {
  margin: 0 auto;
  padding: 60px 5% 30px 5%;
  max-width: 100%;
}
.sticky-header-container {
  z-index: 100;
  height: 60px;
  position: fixed;
  top: -65px;
  left: 0;
  right: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #382f25;
  padding: 0 8%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.sticky-header-container .sticky-menu-container {
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
}
.sticky-header-container .sticky-menu-container .menu {
  margin: 0 auto;
  max-height: 100%;
}
.sticky-header-container .sticky-menu-container .menu ul {
  margin: 0;
  padding: 0;
}
.sticky-header-container .sticky-menu-container .menu ul li {
  float: left;
  display: block;
  height: 100%;
  padding: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.sticky-header-container .sticky-menu-container .menu ul li a {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
}
.sticky-header-container .sticky-menu-container .menu ul li a:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #D22027;
}
.sticky-header-container .sticky-menu-container .menu ul li:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid #D22027;
}
@media screen and (max-width: 984px) {
  .sticky-header-container .sticky-menu-container .menu {
    display: none !important;
  }
}
.header-container {
  overflow: hidden;
  width: 100%;
}
.header-container header {
  max-width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 85px;
  text-transform: uppercase;
  border-bottom: 1px solid #382f25;
  padding: 0 3%;
}
.header-container header .header-logo-link {
  display: block;
  height: 100%;
  float: left;
  padding-left: 30px;
}
.header-container header .header-logo-link img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 984px) {
  .header-container header .header-logo-link {
    float: right;
  }
}
.header-container header .menu-container {
  position: relative;
  float: right;
  z-index: 20;
}
.header-container header .menu-container .menu-main_nav_menu-container {
  max-height: 100%;
}
.header-container header .menu-container .menu-main_nav_menu-container ul {
  margin: 0;
  padding: 0;
}
.header-container header .menu-container .menu-main_nav_menu-container ul li {
  float: left;
  display: block;
  height: 85.44px;
  padding: 20px;
  line-height: 45px;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.header-container header .menu-container .menu-main_nav_menu-container ul li a {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
}
.header-container header .menu-container .menu-main_nav_menu-container ul li a:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #D22027;
}
.header-container header .menu-container .menu-main_nav_menu-container ul li:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid #D22027;
}
@media screen and (max-width: 984px) {
  .header-container header .menu-container .menu-main_nav_menu-container {
    display: none;
  }
}
.page-container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}
.page-container .banner-container {
  width: 100%;
  margin: 0 auto;
  height: 465px;
}
.page-container .banner-container .banner-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 550px;
  background: url('../img/banner3.png') no-repeat center right;
  background-size: cover;
  z-index: 10;
  overflow: hidden;
}
.page-container .banner-container .banner-image .banner-cut-div {
  position: absolute;
  left: -100px;
  top: -100px;
  bottom: -100px;
  width: 540px;
  /*background:#aa2929;*/
  background: url('../img/bg2.png') repeat;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  transform: rotate(8deg);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.page-container .banner-container .banner-image .banner-cut-div img {
  position: absolute;
  top: 25%;
  left: 55%;
  width: 300px;
  height: auto;
  -webkit-transform: rotate(-8deg) translate(-50%, -50%);
  -moz-transform: rotate(-8deg) translate(-50%, -50%);
  -ms-transform: rotate(-8deg) translate(-50%, -50%);
  -o-transform: rotate(-8deg) translate(-50%, -50%);
  transform: rotate(-8deg) translate(-50%, -50%);
}
.page-container .banner-container .banner-image .banner-cut-div .todayClasses {
  position: absolute;
  left: 55%;
  top: 55%;
  -webkit-transform: rotate(-8deg) translate(-50%, -50%);
  -moz-transform: rotate(-8deg) translate(-50%, -50%);
  -ms-transform: rotate(-8deg) translate(-50%, -50%);
  -o-transform: rotate(-8deg) translate(-50%, -50%);
  transform: rotate(-8deg) translate(-50%, -50%);
  color: rgba(5, 5, 5, 0.7);
  /* color: rgba(255,255,255,0.9);*/
  font-size: 22px;
}
.page-container .banner-container .banner-image .banner-cut-div .todayClasses .classBlock {
  font-size: 16px;
  line-height: 30px;
}
@media screen and (max-width: 1275px) {
  .page-container .banner-container .banner-image .banner-cut-div {
    left: -503px;
  }
}
@media screen and (max-width: 600px) {
  .page-container .banner-container .banner-image .banner-cut-div {
    display: none;
  }
}
.page-container .news-container {
  position: relative;
}
.page-container .news-container h2 {
  text-align: center;
  font-size: 40px;
  color: #33333a;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.page-container .news-container h2.classes-type {
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
  margin-top: 50px;
}
.page-container .news-container h2.classes-type:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background: #D22027;
  z-index: -2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-container .news-container h2.classes-type:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 100%;
  background: #D22027;
  z-index: -1;
  background: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-container .news-container .majowa-promo-text {
  text-align: center;
  color: #969696;
  width: 80%;
  display: block;
  margin: 0 auto 50px auto;
}
.page-container .news-container .news-box {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.page-container .news-container .news-box .single-news {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 33.33%;
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -ms-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}
@media screen and (max-width: 1000px) {
  .page-container .news-container .news-box .single-news {
    width: 50%;
  }
  .page-container .news-container .news-box .single-news:nth-of-type(3) {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .page-container .news-container .news-box .single-news {
    width: 100%;
  }
  .page-container .news-container .news-box .single-news:nth-of-type(3) {
    display: block;
  }
}
.page-container .news-container .news-box .single-news img,
.page-container .news-container .news-box .single-news .post-thumbnail-box {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: auto;
}
.page-container .news-container .news-box .single-news .news-category {
  position: absolute;
  top: 0;
  left: 5%;
  background: rgba(255, 255, 255, 0.6);
  font-size: 19px;
  font-weight: 700;
  padding: 3px 6px 3px 6px;
  border-bottom-right-radius: 10px;
}
.page-container .news-container .news-box .single-news .single-news-text {
  background-color: white;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
  border-bottom: 1px solid #969696;
  width: 90%;
  margin: 0 auto;
  padding: 10px 5% 30px 5%;
}
.page-container .news-container .news-box .single-news .single-news-text .post-title {
  font-size: 22.4px;
  letter-spacing: 0.5px;
  color: #33333a;
  text-align: left;
}
.page-container .news-container .news-box .single-news .single-news-text .post-preview {
  margin-bottom: 30px;
  color: #969696;
}
.page-container .news-container .news-box .single-news .single-news-text .read-more-btn {
  display: block;
  width: 122px;
  height: 53px;
  border-radius: 2px;
  border: 2px solid #D22027;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #D22027;
  line-height: 27px;
  padding: 12px 15px;
  font-weight: 700;
}
.page-container .news-container .news-box .single-news .single-news-text .read-more-btn:hover {
  color: white;
  background: #D22027;
  text-decoration: none;
}
.page-container .news-container .blog-button {
  display: block;
  font-size: 19px;
  font-weight: 700;
  padding: 3px 6px 3px 6px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 44px;
  color: white;
  margin: 60px auto 0 auto;
  line-height: 44px;
  text-align: center;
}
.page-container .news-container .blog-button:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #D22027;
  border-bottom: 1px solid #D22027;
}
.page-container .news-container .newsBox-slideBtn {
  background: transparent;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 100px;
  zoom: 1.3;
  border: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  outline: none !important;
}
.page-container .news-container .newsBox-slideBtn#news-slideRight {
  right: -30px;
}
.page-container .news-container .newsBox-slideBtn#news-slideLeft {
  left: -30px;
}
.page-container .classes-container h2 {
  text-align: center;
  font-size: 40px;
  color: #33333a;
  margin-bottom: 60px;
  text-transform: uppercase;
  margin-top: 0;
}
.page-container .classes-container h2.classes-type {
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
  margin-top: 50px;
}
.page-container .classes-container h2.classes-type:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background: #D22027;
  z-index: -2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-container .classes-container h2.classes-type:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 100%;
  background: #D22027;
  z-index: -1;
  background: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-container .classes-container .single-class {
  cursor: pointer;
  position: relative;
  padding: 0 1px 1px 0;
  float: left;
  width: 33.333%;
}
@media screen and (max-width: 1000px) {
  .page-container .classes-container .single-class {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .page-container .classes-container .single-class {
    width: 100%;
  }
}
.page-container .classes-container .single-class img {
  width: 100%;
  height: auto;
}
.page-container .classes-container .single-class .class-hover {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s ease;
  -moz-transition: visibility 0s, opacity 0.5s ease;
  -ms-transition: visibility 0s, opacity 0.5s ease;
  -o-transition: visibility 0s, opacity 0.5s ease;
  transition: visibility 0s, opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #33333a;
  z-index: 2;
  padding: 0 5% 10px 5%;
  text-align: center;
}
.page-container .classes-container .single-class .class-hover .class-name {
  margin-bottom: 0;
  font-size: 21px;
  text-align: center;
  width: 100%;
  margin-top: 12%;
}
.page-container .classes-container .single-class .class-hover span {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #D22027;
  margin: 10px auto 15px auto;
}
.page-container .classes-container .single-class:hover .class-hover {
  visibility: visible;
  opacity: 1;
}
.page-container .newsletter-container i {
  display: block;
  margin: 0 auto 0 auto;
  width: 70px;
}
.page-container .newsletter-container p {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}
.page-container .newsletter-container .input-group {
  height: 48px;
  width: 460px;
  max-width: 100%;
  margin: 0 auto 0 auto;
}
.page-container .newsletter-container .input-group input {
  outline: none;
  border: 1px solid #CCCCCC;
  height: 46px;
  width: 330px;
  padding-left: 30px;
}
.page-container .newsletter-container .input-group button {
  outline: none;
  color: white;
  height: 46px;
  width: 130px;
  border: none;
  background-color: #D22027;
}
.page-container .graphic-container h2 {
  text-align: center;
  font-size: 40px;
  color: #33333a;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.page-container .graphic-container h2.classes-type {
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
  margin-top: 50px;
}
.page-container .graphic-container h2.classes-type:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background: #D22027;
  z-index: -2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-container .graphic-container h2.classes-type:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 100%;
  background: #D22027;
  z-index: -1;
  background: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-container .graphic-container .classes-breake {
  height: 120px;
  background: #F2F2F2;
  position: relative;
  width: 100%;
}
.page-container .graphic-container .classes-breake:after {
  content: 'Miejsce na wasze pomysły \f118';
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-container .graphic-container #grafik {
  margin: 0 auto 0 auto;
}
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody {
  text-align: center;
}
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr {
  border-top: 2px solid white;
  height: 40px;
  text-align: center;
}
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr th {
  text-align: center;
}
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-child(odd) {
  background-color: rgba(210, 32, 39, 0.2);
  color: rgba(0, 0, 0, 0.4);
}
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-child(even) {
  background-color: rgba(210, 32, 39, 0.1);
  color: rgba(0, 0, 0, 0.4);
}
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:first-of-type {
  height: 50px;
  background-color: transparent;
  color: #D22027;
}
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(6),
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(7),
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(8),
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(9),
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(10),
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(11),
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(12),
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(13),
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(14) {
  display: none;
}
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody .wcs3-ex1-cell-wrapper {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
}
.page-container .graphic-container #grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody .wcs3-ex1-cell-wrapper .wcs3-class-name {
  align-self: center;
}
.page-container .graphic-container #grafik .wcs3-cell {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.page-container .graphic-container #grafik .wcs3-class-container {
  background-color: #FA8072;
}
.page-container .instructors-container h2 {
  text-align: center;
  font-size: 40px;
  color: #33333a;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.page-container .instructors-container h2.classes-type {
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
  margin-top: 50px;
}
.page-container .instructors-container h2.classes-type:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background: #D22027;
  z-index: -2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-container .instructors-container h2.classes-type:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 100%;
  background: #D22027;
  z-index: -1;
  background: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-container .instructors-container .trainer {
  width: 25%;
  float: left;
  margin: 0 auto 0 auto;
  height: 460px;
  position: relative;
}
@media screen and (max-width: 1100px) {
  .page-container .instructors-container .trainer {
    width: 33%;
  }
}
@media screen and (max-width: 880px) {
  .page-container .instructors-container .trainer {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .page-container .instructors-container .trainer {
    width: 100%;
  }
}
.page-container .instructors-container .trainer a img {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid #D22027;
  border-left: 2px solid #D22027;
  border-right: 2px solid #D22027;
}
.page-container .instructors-container .trainer .trainer-info {
  border: 1px solid white;
  padding-top: 100px;
  background-color: #F2F2F2;
  width: 240px;
  height: 320px;
  margin: 100px auto 0 auto;
}
.page-container .instructors-container .trainer .trainer-info h3 {
  font-size: 20px;
  text-align: center;
}
.page-container .instructors-container .trainer .trainer-info button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 6px 3px 6px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  line-height: 36px;
  text-align: center;
  width: 140px;
  height: 38px;
  border: none;
  margin: 5px auto 5px auto;
}
.page-container .instructors-container .trainer .trainer-info button:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #D22027;
  border-bottom: 1px solid #D22027;
}
.index-container .page-title {
  z-index: 2;
  overflow: hidden;
  position: relative;
  background: url('../img/majowa-napisy.png') no-repeat;
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
  text-align: center;
  padding: 100px 0;
  margin: 0;
  font-size: 40px;
  letter-spacing: 1px;
}
.index-container .page-title .title {
  color: white;
  z-index: 100;
}
.index-container .page-title .title h1 {
  color: white;
  z-index: 100;
  font-size: 40px;
  letter-spacing: 1px;
}
.index-container .page-title:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.index-container .main-container {
  width: 70%;
  float: left;
  padding-right: 10px;
}
@media screen and (max-width: 1000px) {
  .index-container .main-container {
    width: 100%;
  }
}
.index-container .main-container .blog-post-container {
  margin: 0 0 20px;
  width: 50%;
  padding: 60px 0 30px 0;
  float: left;
}
.index-container .main-container .blog-post-container .post-thumbnail-box {
  cursor: pointer;
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.index-container .main-container .blog-post-container .post-text {
  background-color: white;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
  border-bottom: 1px solid #969696;
  width: 90%;
  margin: 0 auto;
  padding: 30px 5% 30px 5%;
}
.index-container .main-container .blog-post-container .post-text .post-title {
  font-size: 22.4px;
  letter-spacing: 0.5px;
  color: #33333a;
  text-align: left;
}
.index-container .main-container .blog-post-container .post-text .post-preview {
  margin-bottom: 30px;
  color: #969696;
}
.index-container .main-container .blog-post-container .post-text .read-more-btn {
  height: 53px;
  border-radius: 2px;
  border: 2px solid #D22027;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #D22027;
  line-height: 27px;
  padding: 12px 15px;
  font-weight: 700;
}
.index-container .main-container .blog-post-container .post-text .read-more-btn:hover {
  color: white;
  background: #D22027;
  text-decoration: none;
}
@media screen and (max-width: 725px) {
  .index-container .main-container .blog-post-container {
    float: none;
    width: 90%;
    margin: 0 auto 20px auto;
  }
}
.index-container .main-container .single-post-container .single-blog-post-image {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.index-container .main-container .single-post-container .single-post-text {
  background-color: white;
  width: 90%;
  padding: 30px 4% 30px 4%;
  line-height: 24px;
  margin: 0 auto 30px auto;
  color: #969696;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
  border-bottom: 1px solid #969696;
}
.index-container .aside-container {
  position: relative;
  width: 30%;
  float: left;
  padding: 30px 10px 60px 30px;
  border-left: 1px solid #D22027;
}
.index-container .aside-container h3 {
  text-align: left;
  font-weight: 700;
  margin: 40px 0 20px 0;
}
.index-container .aside-container .latest-news-box {
  overflow: hidden;
  padding: 0;
  margin: 0 0 20px;
}
.index-container .aside-container .latest-news-box .latest-post-image {
  display: block;
  width: 50px;
  float: left;
}
.index-container .aside-container .latest-news-box .latest-post-image img {
  display: block;
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}
.index-container .aside-container .latest-news-box .news-title_date {
  margin: 0 0 0 65px;
}
.index-container .aside-container .latest-news-box .news-title_date.teacher-data {
  margin-left: 0;
}
.index-container .aside-container .latest-news-box .news-title_date .title {
  margin: -3px 0 0;
  padding: 0;
}
.index-container .aside-container .latest-news-box .news-title_date .meta {
  font-size: 12px;
}
.index-container .aside-container .latest-news-box .news-title_date .teacher-class-title {
  font-size: 22px;
  color: #33333a;
}
.index-container .aside-container .aside-social-container {
  margin: 20px 10px;
}
.index-container .aside-container .aside-social-container .aside-facebook-btn {
  position: relative;
  display: block;
  color: white;
  height: 40px;
  width: 40px;
  background-color: #3b5998;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.index-container .aside-container .aside-social-container .aside-facebook-btn:hover {
  background-color: #8b9dc3;
}
.index-container .aside-container .aside-social-container .aside-facebook-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1000px) {
  .index-container .aside-container {
    width: 100%;
  }
}
.contact-container {
  position: relative;
  height: 100%;
}
.contact-container .contact-info-container {
  width: 55%;
  float: right;
  padding: 30px 5% 30px 5%;
}
.contact-container .contact-info-container img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.contact-container .contact-info-container .contact-ways {
  padding: 5% 0 5% 5%;
  width: 55%;
  float: left;
  font-size: 16px;
}
@media screen and (max-width: 660px) {
  .contact-container .contact-info-container .contact-ways {
    width: 100%;
  }
}
.contact-container .contact-info-container .contact-ways h4 i {
  color: #D22027;
  min-width: 36px;
  margin-right: 5px;
}
.contact-container .contact-info-container .contact-adress {
  padding: calc(5% + 10px);
  width: 45%;
  float: left;
  text-align: right;
}
@media screen and (max-width: 660px) {
  .contact-container .contact-info-container .contact-adress {
    width: 100%;
  }
}
@media screen and (max-width: 970px) {
  .contact-container .contact-info-container {
    width: 100%;
  }
}
.contact-container .maps-container {
  width: 45%;
  float: right;
  height: 520px;
}
@media screen and (max-width: 970px) {
  .contact-container .maps-container {
    width: 100%;
  }
}
footer {
  width: 100%;
  padding: 14px 34% 14px 34%;
  background: #F2F2F2;
  border-top: 1px solid #D22027;
}
footer .footer-pages-container div {
  padding: 0;
}
footer .footer-pages-container div a {
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 23px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.pricelist-container table th {
  text-align: center;
}
.pricelist-container table td {
  border: 1px solid black;
  min-width: 40px;
  text-align: center;
}
.pricelist-container table .tleft {
  text-align: left;
}
.pricelist-container table .tbold {
  font-weight: 700;
}
.main-text-container {
  text-align: center;
  margin-bottom: 40px;
}
.singIn-container {
  height: 334px;
  display: none;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 10px 0 20px 0;
  max-width: 100%;
  background: rgba(230, 230, 230, 0.9);
}
.singIn-container .dance-form-btn {
  position: relative;
  cursor: pointer;
  display: block;
  float: left;
  width: 195px;
  margin: 10px 0 20px 0;
  padding: 0;
  border: none;
  background: transparent;
}
.singIn-container .dance-form-btn img {
  width: 65px;
  height: auto;
}
.singIn-container #jakSieDowiedziales {
  position: relative;
  cursor: pointer;
  display: block;
  margin: 10px auto 20px auto;
  color: #969696;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background: transparent;
  text-align: center;
}
.singIn-container .toggle-radio-div {
  z-index: 2;
  display: none;
  width: 150px;
  left: 50%;
  top: 100%;
  /*border-bottom: 2px solid @majowaRed;
    border-right: 2px solid @majowaRed;
    border-left: 2px solid @majowaRed;*/
  position: absolute;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(230, 230, 230, 0.9);
}
.singIn-container .toggle-radio-div.whitebg {
  background: white;
  color: black;
}
.singIn-container .toggle-radio-div .toggle-radio-option {
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}
.singIn-container .toggle-radio-div .toggle-radio-option:hover {
  background: rgba(210, 32, 39, 0.8);
  color: rgba(230, 230, 230, 0.9);
}
.singIn-container .col-sm-6 {
  margin: 8px 0;
}
.singIn-container .col-sm-6 label {
  display: inline-block;
  float: left;
  color: #969696;
  font-size: 15px;
  line-height: 32px;
}
.singIn-container .col-sm-6 input {
  height: 32px;
  display: inline-block;
  float: right;
  width: 180px;
}
.singIn-container .submitBtn {
  display: block;
  outline: none;
  margin: 0 auto;
  color: rgba(230, 230, 230, 0.8);
  height: 46px;
  width: 140px;
  border: none;
  background-color: rgba(210, 32, 39, 0.8);
}
.aside-sing-in {
  display: none;
}
.aside-sing-in label {
  margin: 0;
  width: 100%;
  max-width: 250px;
  font-size: 15px;
  line-height: 32px;
}
.aside-sing-in input {
  width: 100%;
  max-width: 180px;
  height: 32px;
  display: inline-block;
}
.aside-sing-in .radio-label {
  width: 100px;
  display: inline-block;
}
.aside-sing-in .radio-input {
  display: inline-block;
  width: 50px;
  height: 20px;
}
.aside-sing-in .submitBtn {
  display: block;
  outline: none;
  color: rgba(230, 230, 230, 0.8);
  height: 46px;
  width: 140px;
  border: none;
  background-color: rgba(210, 32, 39, 0.8);
}
.mobile-menu {
  z-index: 20;
  transition: all 200ms ease-out;
  background-color: white;
  position: absolute;
  top: 0;
  left: -200px;
  bottom: 0;
  min-height: 640px;
  width: 200px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.mobile-menu .mobile-menu-button {
  outline: none;
  display: none;
  position: absolute;
  top: 50px;
  transform: translateY(-50%);
  left: 225px;
  z-index: 100000;
  background: transparent;
  border: none;
  /* Icon 1 */
  /* Icon 3 */
}
@media screen and (max-width: 984px) {
  .mobile-menu .mobile-menu-button {
    display: block;
  }
}
.mobile-menu .mobile-menu-button #nav-icon1,
.mobile-menu .mobile-menu-button #nav-icon2,
.mobile-menu .mobile-menu-button #nav-icon3,
.mobile-menu .mobile-menu-button #nav-icon4 {
  width: 35px;
  height: 25.2px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.mobile-menu .mobile-menu-button #nav-icon1 span,
.mobile-menu .mobile-menu-button #nav-icon3 span,
.mobile-menu .mobile-menu-button #nav-icon4 span {
  display: block;
  position: absolute;
  height: 5.5px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: black;
}
.mobile-menu .mobile-menu-button #nav-icon3 span:nth-child(1) {
  top: 0;
}
.mobile-menu .mobile-menu-button #nav-icon3 span:nth-child(2),
.mobile-menu .mobile-menu-button #nav-icon3 span:nth-child(3) {
  top: 10px;
}
.mobile-menu .mobile-menu-button #nav-icon3 span:nth-child(4) {
  top: 20px;
}
.mobile-menu .mobile-menu-button #nav-icon3.open span:nth-child(1) {
  top: 10px;
  width: 0;
  left: 50%;
}
.mobile-menu .mobile-menu-button #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-menu .mobile-menu-button #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mobile-menu .mobile-menu-button #nav-icon3.open span:nth-child(4) {
  top: 10px;
  width: 0;
  left: 50%;
}
.mobile-menu .separator {
  display: block;
  background: black;
  width: 143px;
  height: 3px;
  margin: 25px auto;
  padding: 0;
}
.mobile-menu h1 {
  margin: 20px;
}
.mobile-menu h1 img {
  width: 100%;
}
.mobile-menu nav {
  padding: 0 40px;
}
.mobile-menu nav .text {
  display: inline-block;
  position: relative;
  line-height: normal;
}
.mobile-menu nav a {
  color: black;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  display: block;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.mobile-menu nav a .nav-text {
  position: relative;
}
.mobile-menu nav a .nav-text span {
  display: block;
  zoom: 1;
  background-position: -23px -315px;
  width: auto;
  height: 3px;
  text-indent: -6000px;
  text-align: left;
  position: absolute;
  bottom: -2px;
  left: 50%;
  right: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.mobile-menu nav a:hover {
  color: #000;
  text-decoration: none;
}
.mobile-menu nav a.selected .nav-text span {
  left: 0;
  right: 2%;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media screen and (max-height: 780px) {
  .mobile-menu nav a {
    line-height: 35px;
    font-size: 18px;
  }
  .mobile-menu .separator {
    margin: 20px auto;
  }
}
@media screen and (max-height: 680px) {
  .mobile-menu nav a {
    line-height: 31px;
    font-size: 18px;
  }
  .mobile-menu .separator {
    margin: 10px auto;
  }
}
.mobile-menu .bottom {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
.mobile-menu .bottom .social {
  width: 96px;
  margin: 0 auto;
}
.mobile-menu .bottom .social a {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  position: relative;
  border: 2px solid black;
}
.mobile-menu .bottom .social a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.mobile-menu .bottom .social a:hover {
  background: black;
}
.mobile-menu .bottom .social a:hover i {
  color: white;
}
.mobile-menu .logo-creator {
  font-size: 8px;
  position: absolute;
  bottom: 1px;
}
.mobile-menu .logo-creator a {
  color: black;
  text-align: center;
}
.mobile-menu .mobile-nav-buttons {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.mobile-menu .mobile-nav-buttons a {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 75px;
  text-decoration: none;
  display: block;
  position: relative;
}
.mobile-menu .mobile-nav-buttons a img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  height: 25px;
  width: auto;
}
.mobile-menu .mobile-nav-buttons a h3 {
  margin: 5px 0 0 0;
  display: block;
  font-size: 12px;
  color: black;
  text-align: center;
  text-decoration: none;
}
.mobile-menu .mobile-nav-buttons a.cart-mobile-btn {
  width: 100%;
}
.openMenu {
  left: 0;
}
a.boxclose {
  float: right;
  margin-top: -30px;
  margin-right: -30px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
}
a.boxclose:hover {
  text-decoration: none;
}
.boxclose:before {
  content: "×";
}
.boxclose:before:hover {
  text-decoration: none;
}
