.boxShadow_1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.boxShadow_1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.boxShadow_2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@font-face {
  font-family: EmilyLimePro;
  src: url('../fonts/EmilyLimePro.woff');
}
body,
html {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 25px;
}
strong {
  color: black;
  font-weight: bold;
}
.relative {
  position: relative;
}
.container {
  position: relative;
}
.container--margins {
  margin-top: 50px;
  margin-bottom: 50px;
}
.container--margins__top {
  margin-top: 50px;
}
.container--padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pseudo--slant__before {
  position: relative;
  padding-top: 100px;
}
.pseudo--slant__before:before {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  content: "";
  width: calc(100% + 30px);
  margin: 0 -15px;
  height: 100px;
  background: linear-gradient(to left bottom, white, white 49%, transparent 50%, transparent);
}
.pseudo--slant__after {
  padding-bottom: 170px;
  position: relative;
}
.pseudo--slant__after:after {
  position: absolute;
  bottom: 0;
  display: block;
  z-index: 1;
  content: "";
  width: calc(100% + 30px);
  margin: 0 -15px;
  height: 170px;
  background: linear-gradient(to right top, white, white 49%, transparent 50%, transparent);
}
.pseudo--slant {
  padding-bottom: 170px;
  position: relative;
  padding-top: 100px;
}
.pseudo--slant:after {
  position: absolute;
  bottom: 0;
  display: block;
  z-index: 1;
  content: "";
  width: calc(100% + 30px);
  margin: 0 -15px;
  height: 170px;
  background: linear-gradient(to right top, white, white 49%, transparent 50%, transparent);
}
.pseudo--slant:before {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  content: "";
  width: calc(100% + 30px);
  margin: 0 -15px;
  height: 100px;
  background: linear-gradient(to left bottom, white, white 49%, transparent 50%, transparent);
}
.bg--pattern {
  background: url('../img/bg2.png');
}
.title {
  font-weight: 700;
  font-size: 50px;
  color: black;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 50px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .title {
    font-size: 36px;
  }
}
.title--fancy {
  font-family: "EmilyLimePro";
  color: #d9a992;
  font-weight: 100;
  padding-bottom: 20px;
  font-size: 50px;
  line-height: 50px;
}
.title--big {
  color: black;
  font-weight: 700;
  line-height: 80px;
  font-size: 60px;
  padding-top: 0;
  margin-top: 10px;
}
.newsletter--form {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  height: 60px;
}
.newsletter--input {
  width: 100%;
  height: 60px;
  padding: 0 50px;
  position: relative;
  overflow: hidden;
  border: 0;
  outline: 0;
  border-radius: 30px;
  background: #f3f3f3;
  transition: all .4s;
}
.newsletter--button {
  position: relative;
  width: 100px;
  margin-left: -100px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 0;
}
.newsletter--button:hover i {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: rotate(30deg) scale(1.5);
  -moz-transform: rotate(30deg) scale(1.5);
  -ms-transform: rotate(30deg) scale(1.5);
  -o-transform: rotate(30deg) scale(1.5);
  transform: rotate(30deg) scale(1.5);
}
.trainer-info {
  /*border:1px solid white;*/
  padding-top: 90px;
  width: 240px;
  height: 280px;
  margin: 100px auto 0 auto;
}
.trainer-info h3 {
  font-size: 20px;
}
.btn--link {
  overflow: hidden;
  display: block;
  font-size: 16px;
  padding: 3px 6px 3px 6px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  line-height: 36px;
  text-align: center;
  width: 140px;
  height: 38px;
  border: none;
  margin: 5px auto 5px auto;
}
.btn--link:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #D22027;
  border-bottom: 1px solid #D22027;
}
.img--instructor {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid #D84A58;
  border-left: 2px solid #D84A58;
  border-right: 2px solid #D84A58;
}
.classes-breake {
  height: 120px;
  background: #F2F2F2;
  position: relative;
  width: 100%;
}
.classes-breake:after {
  content: 'Miejsce na wasze pomysły \f118';
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#grafik {
  margin: 0 auto 0 auto;
}
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody {
  text-align: center;
}
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr {
  border-top: 2px solid white;
  height: 40px;
  text-align: center;
}
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr th {
  text-align: center;
}
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-child(odd) {
  background-color: rgba(210, 32, 39, 0.2);
  color: rgba(0, 0, 0, 0.4);
}
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-child(even) {
  background-color: rgba(210, 32, 39, 0.1);
  color: rgba(0, 0, 0, 0.4);
}
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:first-of-type {
  height: 50px;
  background-color: transparent;
  color: #D22027;
}
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(8),
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(9),
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(10),
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(11),
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(12),
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(13),
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody tr:nth-of-type(14) {
  display: none;
}
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody .wcs3-ex1-cell-wrapper {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
}
#grafik .wcs3-schedule-wrapper .wcs3-schedule-normal-layout tbody .wcs3-ex1-cell-wrapper .wcs3-class-name {
  align-self: center;
}
#grafik .wcs3-cell {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
#grafik .wcs3-class-container {
  background-color: #D84A58;
}
.news--box {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 560px;
}
.singleNews {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  height: 550px;
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -ms-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}
.news--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.news--content {
  height: 98%;
  width: 90%;
  margin: 3px auto;
  box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.news--content:hover {
  box-shadow: -7px 13px 40px 0px rgba(0, 0, 0, 0.25);
}
.news--text {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  min-height: 40%;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
}
.newsBox-slideBtn {
  background: transparent;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 100px;
  zoom: 1.3;
  border: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  outline: none !important;
  color: black;
}
.newsBox-slideBtn#news-slideRight {
  right: -5px;
}
.newsBox-slideBtn#news-slideLeft {
  left: -5px;
}
.news--readMore {
  display: block;
  text-align: right;
  font-weight: 600;
  cursor: pointer;
  color: #D84A58;
  text-decoration: none;
}
.news--readMore:hover {
  color: #d9a992;
  text-decoration: none;
}
.classes-container .single-class {
  cursor: pointer;
  position: relative;
  padding: 0 1px 1px 0;
  float: left;
  width: 33.333%;
}
@media screen and (max-width: 1000px) {
  .classes-container .single-class {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .classes-container .single-class {
    width: 100%;
  }
}
.classes-container .single-class img {
  width: 100%;
  height: auto;
}
.classes-container .single-class .class-hover {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s ease;
  -moz-transition: visibility 0s, opacity 0.5s ease;
  -ms-transition: visibility 0s, opacity 0.5s ease;
  -o-transition: visibility 0s, opacity 0.5s ease;
  transition: visibility 0s, opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #33333a;
  z-index: 2;
  padding: 12% 5% 10px 5%;
  text-align: center;
}
.classes-container .single-class .class-hover .classes-links-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
}
.classes-container .single-class .class-hover .single-class-link {
  font-size: 36px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 75px;
  border-bottom: 1px solid transparent;
}
.classes-container .single-class .class-hover .single-class-link:hover {
  border-bottom: 1px solid white;
  text-decoration: none;
}
.classes-container .single-class:hover .class-hover {
  visibility: visible;
  opacity: 1;
}
.classes-container .single-class:hover .class-category {
  display: none;
}
.classes-container .single-class .class-category {
  color: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 65px;
  background: rgba(255, 255, 255, 0.8);
  font-size: 38px;
  font-weight: 700;
  line-height: 65px;
  width: 290px;
  text-align: center;
}
.latest-news-box {
  overflow: hidden;
  padding: 0;
  margin: 0 0 20px;
}
.latest-news-box .latest-post-image {
  display: block;
  width: 50px;
  float: left;
}
.latest-news-box .latest-post-image img {
  display: block;
  width: 50px;
  height: 45px;
  object-fit: cover;
  -o-object-fit: cover;
  margin: 5px;
  border-radius: 2px;
}
.latest-news-box .news-title_date {
  margin: 0 0 0 65px;
}
.latest-news-box .news-title_date.teacher-data {
  margin-left: 0;
}
.latest-news-box .news-title_date .meta {
  font-size: 12px;
}
.latest-news-box .news-title_date .teacher-class-title {
  font-size: 22px;
  color: #33333a;
}
.latest-news-box:hover {
  background: #D84A58;
}
.aside--facebook {
  position: relative;
  display: block;
  color: white;
  height: 40px;
  width: 40px;
  background-color: #3b5998;
  border-radius: 5px;
  cursor: pointer;
}
.aside--facebook:hover {
  background-color: #8b9dc3;
  color: white;
  -webkit-transition: background-color ease 0.2s;
  -moz-transition: background-color ease 0.2s;
  -ms-transition: background-color ease 0.2s;
  -o-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
}
.aside--facebook i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.aside--news__title {
  display: block;
  color: black;
}
.aside--news__title:hover {
  text-decoration: none;
  color: black;
}
.pricelist-container table th {
  text-align: center;
}
.pricelist-container table td {
  border: 1px solid black;
  min-width: 40px;
  text-align: center;
}
.pricelist-container table .tleft {
  text-align: left;
}
.pricelist-container table .tbold {
  font-weight: 700;
}
.pricelist-container #accordion .col-sm-2,
.pricelist-container #accordion .col-sm-6 {
  padding: 0;
}
.pricelist-container #accordion h3 {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding: 0  0 0 15px;
  outline: none;
}
.pricelist-container #accordion h3.ui-state-active {
  background: #D22027;
  border: 1px solid black;
}
.pricelist-container #accordion .column-title {
  line-height: 20px;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  display: block;
}
.pricelist-container #accordion .column-content {
  border-bottom: 1px solid black;
  font-size: 16px;
  line-height: 40px;
}
.contact-info-container {
  padding: 30px 0 30px 0;
}
.contact-info-container img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.contact-info-container .contact-ways {
  padding: 5% 0 5% 5%;
  font-size: 16px;
}
.contact-info-container .contact-ways h4 i {
  color: #D22027;
  min-width: 36px;
  margin-right: 5px;
}
.contact-info-container .contact-adress {
  padding: calc(5% + 10px);
  text-align: right;
}
@media screen and (max-width: 660px) {
  .contact-info-container .contact-adress {
    width: 100%;
  }
}
@media screen and (max-width: 970px) {
  .contact-info-container {
    width: 100%;
  }
}
.maps-container {
  height: 600px;
  padding-bottom: 50px;
}
.event-box {
  margin: 50px auto;
  width: 100%;
  min-height: 200px;
  background: #d9a992;
  padding: 0 15px;
}
.event-img {
  display: block;
  margin: -10px 20px 20px 0;
  float: left;
  width: 50%;
  object-fit: cover;
  -o-object-fit: cover;
  max-width: 350px;
}
@media (max-width: 600px) {
  .event-img {
    float: none;
    margin: -10px auto 20px auto;
    width: 90%;
  }
}
.event-img_promo {
  width: 220px;
  height: 220px;
  object-fit: cover;
  -o-object-fit: cover;
}
.event-info {
  padding: 15px 25px 40px 25px;
}
.event-note {
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
  text-indent: 10px;
  font-weight: 900;
}
.event-excert {
  font-size: 14px;
  text-align: justify;
  text-indent: 10px;
  line-height: 22px;
  font-weight: 600;
  margin: 25px 15px;
}
.event-title {
  margin-top: 5px;
  font-weight: 600;
  color: black;
}
.event-btn {
  display: block;
  float: right;
}
/*region for single event page*/
.event-content {
  font-size: 16px;
  color: black;
  line-height: 25.6px;
}
.container-comments {
  margin-bottom: 100px;
}
.container-comments .comment-form-comment label {
  display: block;
}
.container-comments .comment-form-comment textarea {
  width: 100%;
  height: 150px;
  max-width: 600px;
}
.container-comments .comment-form-url {
  display: none;
}
.container-comments .comment-form-author,
.container-comments .comment-form-email {
  display: block;
}
.container-comments .comment-form-author label,
.container-comments .comment-form-email label {
  display: block;
}
.container-comments .comment-form-email:after {
  content: "";
  clear: both;
}
.container-comments .form-submit #submit {
  margin-top: 20px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
  background-color: #d9534f;
}
.container-comment {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: right;
}
.container-comment p {
  padding: 15px;
  border-top: 2px solid #D84A58;
  text-align: left;
}
.container-comment .author {
  font-weight: 600;
}
.container-comment span {
  line-height: 35px;
  margin: 0 35px;
}
